{% extends 'base.html' %}

{% block content %}
<style>
  .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #8064a2 !important;
}
</style>
<p>{{ url }}</p>
<p>{{ error }}</p>
<div>
  <a class="btn btn-primary" href="/user/userhome/rss/{{ linkid }}/published_date">Sort By Date</a>
  <a class="btn btn-primary" href="/user/userhome/rss/{{ linkid }}/title">Sort By Title</a>
  <a class="btn btn-primary" href="/user/userhome/rss/{{ linkid }}/description">Sort By Description</a>
</div>
{% for i in parser %}

<div class="card">
  <div class="card-body">
    <h4 class="card-title"><a href="{{ i.link }}">{{ i.title  }}</a></h4>
      <img class="card-img-top" src="{{i.image.href}}" alt="Card image" onerror="this.onerror=null;this.src='https://pbs.twimg.com/profile_images/941692867843522560/Fv1Mkg5V_400x400.jpg'" style="width:25%"/>
    <p class="card-text">{{ i.description | striptags }}</p>
    <p class="card-text">{{ i.published | striptags }}</p>
<!--      <a href="{{ i.link }}" class="stretched-link"></a>-->
  </div>
</div>

{% endfor %}
{% endblock content %}